In [1]:
import pandas as pd

# Merge: Spacy and Geoparse
1. In order to merge 'v2_with_geo_count.tsv' with 'spacy.tsv' we needed to take the unordered index results from 'v2_with_geo_count.tsv' and set it as the intended index. Then 'v2_with_geo_count.tsv' had it's index sorted and was then merged into 'spacy.tsv'. The result is 'merged_spacy_and_geo_v2.csv'
2. The 'hw2_with_images_and_captions.csv' which has all the GenAI image features along with the 'v2.tsv' data will have the 'merged_spacy_and_geo_v2.csv' merged into it.

---
Prior attempts to merge Spacy/GeoParse features of the dataframe were unsuccessful: 
We tried inner and left merge on the key "description" but this yielded surplus and unexpected merge results. Some probably reasons why were that descriptions may have been duplicated and thus the merging key was not fully unique and reliable as a key.
- Those unsuccessful codes have been removed to declutter the ipynb

In [2]:
df_spacy = pd.read_csv("../Data/spacy.csv")
print(df_spacy.columns)
df_spacy.head()

Index(['spacy_entities', 'description'], dtype='object')

,spacy_entities,description
0,"Ada witch -, PERSON\n3-mile, QUANTITY\nthe Ada...",Ada witch - Sometimes you can see a misty blue...
1,"month later, DATE\nthis day, DATE\n\n",A little girl was killed suddenly while waitin...
2,"Gorman Rd, PERSON\nSand Creek, FAC\nA mile, QU...",If you take Gorman Rd. west towards Sand Creek...
3,"1970, DATE\none, CARDINAL\n211, CARDINAL\ntoda...","In the 1970's, one room, room 211, in the old ..."
4,Kappa Delta Sorority - The Kappa Delta Sororit...,Kappa Delta Sorority - The Kappa Delta Sororit...

In [3]:
df_geo_orig = pd.read_csv("../Data/v2_with_geo_count.tsv", delimiter="\t")

/var/folders/yh/z83nv3dd2hl49zy2b2zxjx4h0000gn/T/ipykernel_13405/782246924.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_geo_orig = pd.read_csv("../Data/v2_with_geo_count.tsv", delimiter="\t")

In [4]:
df_geo_sorted = df_geo_orig.set_index("Unnamed: 0")
df_geo_sorted.index.names = ['index']
df_geo_sorted = df_geo_sorted.sort_index(ascending=True)

In [5]:
df_geo_sorted['description']

index
0        Ada witch - Sometimes you can see a misty blue...
1        A little girl was killed suddenly while waitin...
2        If you take Gorman Rd. west towards Sand Creek...
3        In the 1970's, one room, room 211, in the old ...
4        Kappa Delta Sorority - The Kappa Delta Sororit...
                               ...
10975    at 12 midnight you can see a lady with two lit...
10976    Is haunted by the victims of a murder that hap...
10977    The institution was for kids 18 years old and ...
10978    Gymnasium -  their have been reports of a litt...
10979    Cadets from the Air Force Academy participatin...
Name: description, Length: 10980, dtype: object

In [6]:
df_geo_sorted.columns

Index(['Alcohol Deaths', 'Alcohol Deaths Under 21', 'Audio Evidence',
       'Audio Reasoning', 'Daylight Data TimeandDate',
       'Daylight Data USNO Navy', 'Event', 'FBI.Population.Covered',
       'GeoName_Count', 'Geographic_LATITUDE', 'Geographic_LONGITUDE',
       'Geographic_NAME', 'HS_Grad_Rate', 'Haunted Places Date',
       'Murder per capita', 'Optional_LATITUDE1', 'Optional_LATITUDE2',
       'Optional_LATITUDE3', 'Optional_LATITUDE4', 'Optional_LONGITUDE1',
       'Optional_LONGITUDE2', 'Optional_LONGITUDE3', 'Optional_LONGITUDE4',
       'Optional_NAME1', 'Optional_NAME2', 'Optional_NAME3', 'Optional_NAME4',
       'Property Crime per capita', 'STEM_Grad_Percentage', 'State',
       'Undergrad_Grad_Rate', 'Violent Crime per capita', 'Visual Evidence',
       'Visual Reasoning', 'Witness Count', 'Witness Reasoning', 'adjectives',
       'apparition_adj_str', 'apparition_age', 'apparition_age_str',
       'apparition_descriptors', 'apparition_descriptors_str',
       'apparition_gender', 'apparition_gender_str', 'apparition_types',
       'apparition_types_str', 'city', 'city_latitude', 'city_longitude',
       'clean_description', 'clean_spelling', 'country',
       'death_rate_All causes', 'death_rate_Alzheimer's disease',
       'death_rate_CLRD', 'death_rate_Cancer', 'death_rate_Diabetes',
       'death_rate_Heart disease', 'death_rate_Influenza and pneumonia',
       'death_rate_Kidney disease', 'death_rate_Suicide',
       'death_rate_Unintentional injuries', 'description',
       'filtered_tokenized', 'latitude', 'lemma_filtered_tokenized',
       'lemma_pos_tokenized', 'location', 'longitude', 'pos_tokenized',
       'state', 'state_abbrev', 'time_of_day', 'tokenized',
       'unique_app_descriptor_mentions', 'unique_apparition_mentions',
       'GeoName_Count.1'],
      dtype='object')

In [7]:
df_geo_sorted_filtered = df_geo_sorted[['GeoName_Count', 'Geographic_LATITUDE', 'Geographic_LONGITUDE',
       'Geographic_NAME','Optional_LATITUDE1', 'Optional_LATITUDE2',
       'Optional_LATITUDE3', 'Optional_LATITUDE4', 'Optional_LONGITUDE1',
       'Optional_LONGITUDE2', 'Optional_LONGITUDE3', 'Optional_LONGITUDE4',
       'Optional_NAME1', 'Optional_NAME2', 'Optional_NAME3', 'Optional_NAME4']]

df_geo_sorted_filtered.index.name = "index"
df_geo_sorted_filtered.to_csv('../Data/v2_with_geo_count_sorted_filtered.csv')
print("'v2_with_geo_count_sorted_filtered.csv' saved")

'v2_with_geo_count_sorted_filtered.csv' saved

In [8]:
df_geo_sorted_filtered.head()

,GeoName_Count,Geographic_LATITUDE,Geographic_LONGITUDE,Geographic_NAME,Optional_LATITUDE1,Optional_LATITUDE2,Optional_LATITUDE3,Optional_LATITUDE4,Optional_LONGITUDE1,Optional_LONGITUDE2,Optional_LONGITUDE3,Optional_LONGITUDE4,Optional_NAME1,Optional_NAME2,Optional_NAME3,Optional_NAME4
index,,,,,,,,,,,,,,,,
0,2,NaN,NaN,NaN,43.0125,43.00142,NaN,NaN,-85.50056,-85.49169,NaN,NaN,Egypt Valley Country Club,Findlay Cemetery,NaN,NaN
1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_merge_index = df_spacy.merge(df_geo_sorted_filtered, left_index= True, right_index= True, how="left")
df_merge_index.head()

,spacy_entities,description,GeoName_Count,Geographic_LATITUDE,Geographic_LONGITUDE,Geographic_NAME,Optional_LATITUDE1,Optional_LATITUDE2,Optional_LATITUDE3,Optional_LATITUDE4,Optional_LONGITUDE1,Optional_LONGITUDE2,Optional_LONGITUDE3,Optional_LONGITUDE4,Optional_NAME1,Optional_NAME2,Optional_NAME3,Optional_NAME4
0,"Ada witch -, PERSON\n3-mile, QUANTITY\nthe Ada...",Ada witch - Sometimes you can see a misty blue...,2,NaN,NaN,NaN,43.0125,43.00142,NaN,NaN,-85.50056,-85.49169,NaN,NaN,Egypt Valley Country Club,Findlay Cemetery,NaN,NaN
1,"month later, DATE\nthis day, DATE\n\n",A little girl was killed suddenly while waitin...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Gorman Rd, PERSON\nSand Creek, FAC\nA mile, QU...",If you take Gorman Rd. west towards Sand Creek...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1970, DATE\none, CARDINAL\n211, CARDINAL\ntoda...","In the 1970's, one room, room 211, in the old ...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kappa Delta Sorority - The Kappa Delta Sororit...,Kappa Delta Sorority - The Kappa Delta Sororit...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Iterim merged dataset that has relevant columns for Spacy and GeoParser. Will later be mergeed with GenAI image columns

In [10]:
#Re-order columns
df_merge_index = df_merge_index[['description','spacy_entities', 'GeoName_Count', 'Geographic_LATITUDE',
       'Geographic_LONGITUDE', 'Geographic_NAME', 'Optional_LATITUDE1',
       'Optional_LATITUDE2', 'Optional_LATITUDE3', 'Optional_LATITUDE4',
       'Optional_LONGITUDE1', 'Optional_LONGITUDE2', 'Optional_LONGITUDE3',
       'Optional_LONGITUDE4', 'Optional_NAME1', 'Optional_NAME2',
       'Optional_NAME3', 'Optional_NAME4']]
df_merge_index.columns

Index(['description', 'spacy_entities', 'GeoName_Count', 'Geographic_LATITUDE',
       'Geographic_LONGITUDE', 'Geographic_NAME', 'Optional_LATITUDE1',
       'Optional_LATITUDE2', 'Optional_LATITUDE3', 'Optional_LATITUDE4',
       'Optional_LONGITUDE1', 'Optional_LONGITUDE2', 'Optional_LONGITUDE3',
       'Optional_LONGITUDE4', 'Optional_NAME1', 'Optional_NAME2',
       'Optional_NAME3', 'Optional_NAME4'],
      dtype='object')

In [11]:
df_merge_index.to_csv('../Data/merged_spacy_and_geo_v2.csv')
print("'merged_spacy_and_geo_v2.csv' saved")

'merged_spacy_and_geo_v2.csv' saved

# Merge: GenAI Image with Captions and Objects

In [12]:
df_gen_ai = pd.read_csv('../Data/hw2_with_captions_and_objects.csv', index_col=[0])
df_gen_ai.index.names = ['index']
df_gen_ai

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude,...,Alcohol Deaths,Alcohol Deaths Under 21,State,time_of_day,Daylight Data USNO Navy,Daylight Data TimeandDate,Image Caption,Image Path,caption,objects
index,,,,,,,,,,,,,,,,,,,,,
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727,...,2208.0,3.9%,Michigan,Dusk,09:05,No data found,"A mysterious event in Ada Cemetery, Ada, Michi...",C:\Users\Austin\Desktop\DSCI 550\Homework 2\De...,a black and white photo of a person holding an...,"zebra, ski, chain saw, chainsaw, accordion, pi..."
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434,...,2208.0,3.9%,Michigan,Dusk,11:22,No data found,"A mysterious event in North Adams Rd., Addison...",C:\Users\Austin\Desktop\DSCI 550\Homework 2\De...,a row of wooden park benches sitting next to e...,"picket fence, paling, worm fence, snake fence,..."
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547,...,2208.0,3.9%,Michigan,Evening,11:16,No data found,"A mysterious event in Ghost Trestle, Adrian, M...",C:\Users\Austin\Desktop\DSCI 550\Homework 2\De...,a train traveling through a lush green country...,"valley, vale, viaduct, dam, dike, dyke, alp, m..."
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547,...,2208.0,3.9%,Michigan,Unknown,11:45,No data found,A mysterious event in Siena Heights University...,C:\Users\Austin\Desktop\DSCI 550\Homework 2\De...,a bedroom with a bed and a window,"studio couch, day bed, crib, cot, radiator, pr..."
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097,...,2208.0,3.9%,Michigan,Evening,09:10,No data found,"A mysterious event in Albion College, Albion, ...",C:\Users\Austin\Desktop\DSCI 550\Homework 2\De...,a fire hydrant in front of a brick building .,"library, palace, planetarium, dome, flagpole, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10975,Westminster,United States,at 12 midnight you can see a lady with two lit...,city hall,Colorado,CO,-105.048936,39.862610,-105.037205,39.836653,...,NaN,NaN,Colorado,Dusk,14:15,No data found,"A mysterious event in city hall, Westminster, ...",C:\Users\Austin\Desktop\DSCI 550\Homework 2\De...,a black and white photo of a clock tower .,"water tower, cab, hack, taxi, taxicab, traffic..."
10976,Westminster,United States,Is haunted by the victims of a murder that hap...,Pillar of Fire,Colorado,CO,-105.032091,39.847237,-105.037205,39.836653,...,NaN,NaN,Colorado,Dusk,11:19,No data found,"A mysterious event in Pillar of Fire, Westmins...",C:\Users\Austin\Desktop\DSCI 550\Homework 2\De...,a statue of a man sitting on a bench .,"church, church building, palace, ashcan, trash..."
10977,Wheat Ridge,United States,The institution was for kids 18 years old and ...,Ridge Mental Institution,Colorado,CO,-105.063974,39.769726,-105.077206,39.766098,...,NaN,NaN,Colorado,Dusk,11:19,No data found,A mysterious event in Ridge Mental Institution...,C:\Users\Austin\Desktop\DSCI 550\Homework 2\De...,a black and white photo of a train station .,"prison, prison house"
10978,Wheat Ridge,United States,Gymnasium - their have been reports of a litt...,Wheat Ridge Middle School,Colorado,CO,-105.103613,39.764055,-105.077206,39.766098,...,NaN,NaN,Colorado,Morning,09:25,No data found,A mysterious event in Wheat Ridge Middle Schoo...,C:\Users\Austin\Desktop\DSCI 550\Homework 2\De...,a black and white photo of a bathroom .,"bannister, banister, balustrade, balusters, ha..."
10979,Woodland Park,United States,Cadets from the Air Force Academy participatin...,Saylor Park Forest,Colorado,CO,-105.022763,39.116658,-105.056930,38.993881,...,NaN,NaN,Colorado,Dusk,09:29,No data found,"A mysterious event in Saylor Park Forest, Wood...",C:\Users\Austin\Desktop\DSCI 550\Homework 2\De...,a group of people standing on top of a lush gr...,"military uniform, pajama, pyjama, pj's, jammie..."

In [13]:
df_merge_all = df_gen_ai.merge(df_merge_index, left_index= True, right_index= True, how="left")

In [14]:
df_merge_all.columns

Index(['city', 'country', 'description_x', 'location', 'state', 'state_abbrev',
       'longitude', 'latitude', 'city_longitude', 'city_latitude',
       'clean_description', 'clean_spelling', 'Audio Evidence',
       'Audio Reasoning', 'Witness Count', 'Witness Reasoning', 'tokenized',
       'pos_tokenized', 'filtered_tokenized', 'lemma_filtered_tokenized',
       'lemma_pos_tokenized', 'Event', 'apparition_types',
       'apparition_descriptors', 'apparition_gender', 'apparition_age',
       'apparition_types_str', 'apparition_descriptors_str',
       'apparition_gender_str', 'apparition_age_str',
       'unique_apparition_mentions', 'unique_app_descriptor_mentions',
       'adjectives', 'apparition_adj_str', 'FBI.Population.Covered',
       'Murder per capita', 'Violent Crime per capita',
       'Property Crime per capita', 'Undergrad_Grad_Rate', 'HS_Grad_Rate',
       'STEM_Grad_Percentage', 'Visual Evidence', 'Visual Reasoning',
       'death_rate_Alzheimer's disease', 'death_rate_Cancer',
       'death_rate_Heart disease', 'death_rate_Unintentional injuries',
       'death_rate_All causes', 'death_rate_Influenza and pneumonia',
       'death_rate_Suicide', 'death_rate_Kidney disease', 'death_rate_CLRD',
       'death_rate_Diabetes', 'Haunted Places Date', 'Alcohol Deaths',
       'Alcohol Deaths Under 21', 'State', 'time_of_day',
       'Daylight Data USNO Navy', 'Daylight Data TimeandDate', 'Image Caption',
       'Image Path', 'caption', 'objects', 'description_y', 'spacy_entities',
       'GeoName_Count', 'Geographic_LATITUDE', 'Geographic_LONGITUDE',
       'Geographic_NAME', 'Optional_LATITUDE1', 'Optional_LATITUDE2',
       'Optional_LATITUDE3', 'Optional_LATITUDE4', 'Optional_LONGITUDE1',
       'Optional_LONGITUDE2', 'Optional_LONGITUDE3', 'Optional_LONGITUDE4',
       'Optional_NAME1', 'Optional_NAME2', 'Optional_NAME3', 'Optional_NAME4'],
      dtype='object')

In [15]:
df_merge_cleaned = df_merge_all[['city', 'country', 'description_x', 'location', 'state',
       'state_abbrev', 'longitude', 'latitude', 'city_longitude',
       'city_latitude', 'clean_description', 'clean_spelling',
       'Audio Evidence', 'Audio Reasoning', 'Witness Count',
       'Witness Reasoning', 'tokenized', 'pos_tokenized', 'filtered_tokenized',
       'lemma_filtered_tokenized', 'lemma_pos_tokenized', 'Event',
       'apparition_types', 'apparition_descriptors', 'apparition_gender',
       'apparition_age', 'apparition_types_str', 'apparition_descriptors_str',
       'apparition_gender_str', 'apparition_age_str',
       'unique_apparition_mentions', 'unique_app_descriptor_mentions',
       'adjectives', 'apparition_adj_str', 'FBI.Population.Covered',
       'Murder per capita', 'Violent Crime per capita',
       'Property Crime per capita', 'Undergrad_Grad_Rate', 'HS_Grad_Rate',
       'STEM_Grad_Percentage', 'Visual Evidence', 'Visual Reasoning',
       'death_rate_Alzheimer\'s disease', 'death_rate_Cancer',
       'death_rate_Heart disease', 'death_rate_Unintentional injuries',
       'death_rate_All causes', 'death_rate_Influenza and pneumonia',
       'death_rate_Suicide', 'death_rate_Kidney disease', 'death_rate_CLRD',
       'death_rate_Diabetes', 'Haunted Places Date', 'Alcohol Deaths',
       'Alcohol Deaths Under 21', 'State', 'time_of_day',
       'Daylight Data USNO Navy', 'Daylight Data TimeandDate', 'Image Caption',
       'Image Path', 'objects', 'caption', 'spacy_entities',
       'GeoName_Count', 'Geographic_LATITUDE', 'Geographic_LONGITUDE',
       'Geographic_NAME', 'Optional_LATITUDE1', 'Optional_LATITUDE2',
       'Optional_LATITUDE3', 'Optional_LATITUDE4', 'Optional_LONGITUDE1',
       'Optional_LONGITUDE2', 'Optional_LONGITUDE3', 'Optional_LONGITUDE4',
       'Optional_NAME1', 'Optional_NAME2', 'Optional_NAME3', 'Optional_NAME4']]

df_merge_cleaned = df_merge_cleaned.rename(columns={'description_x': 'description'})

In [16]:
df_merge_cleaned.to_csv('../Data/v2_all_features.tsv', sep='\t', index=False)
print("'../Data/v2_all_features.tsv' downloaded")

'../Data/v2_all_features.tsv' downloaded

In [17]:
df_merge_filtered = df_merge_cleaned[['city', 'country', 'description', 'location', 'state',
       'state_abbrev', 'longitude', 'latitude', 'city_longitude',
       'city_latitude', 'Audio Evidence', 'Audio Reasoning', 'Witness Count',
       'Witness Reasoning', 'Event', 'apparition_types_str',
       'apparition_adj_str', 'unique_apparition_mentions',
       'Murder per capita', 'Violent Crime per capita',
       'Property Crime per capita', 'Undergrad_Grad_Rate', 'HS_Grad_Rate',
       'STEM_Grad_Percentage', 'Visual Evidence', 'Visual Reasoning',
       'death_rate_Alzheimer\'s disease', 'death_rate_Cancer',
       'death_rate_Heart disease', 'death_rate_Unintentional injuries',
       'death_rate_All causes', 'death_rate_Influenza and pneumonia',
       'death_rate_Suicide', 'death_rate_Kidney disease', 'death_rate_CLRD',
       'death_rate_Diabetes', 'Haunted Places Date', 'Alcohol Deaths',
       'Alcohol Deaths Under 21', 'State', 'time_of_day',
       'Daylight Data USNO Navy', 'Daylight Data TimeandDate',
       'Image Path', 'objects', 'caption', 'spacy_entities', 'GeoName_Count',
       'Geographic_LATITUDE', 'Geographic_LONGITUDE', 'Geographic_NAME',
       'Optional_LATITUDE1', 'Optional_LATITUDE2', 'Optional_LATITUDE3',
       'Optional_LATITUDE4', 'Optional_LONGITUDE1', 'Optional_LONGITUDE2',
       'Optional_LONGITUDE3', 'Optional_LONGITUDE4', 'Optional_NAME1',
       'Optional_NAME2', 'Optional_NAME3', 'Optional_NAME4']]
df_merge_filtered

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude,...,Optional_LATITUDE3,Optional_LATITUDE4,Optional_LONGITUDE1,Optional_LONGITUDE2,Optional_LONGITUDE3,Optional_LONGITUDE4,Optional_NAME1,Optional_NAME2,Optional_NAME3,Optional_NAME4
index,,,,,,,,,,,,,,,,,,,,,
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727,...,NaN,NaN,-85.50056,-85.49169,NaN,NaN,Egypt Valley Country Club,Findlay Cemetery,NaN,NaN
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10975,Westminster,United States,at 12 midnight you can see a lady with two lit...,city hall,Colorado,CO,-105.048936,39.862610,-105.037205,39.836653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10976,Westminster,United States,Is haunted by the victims of a murder that hap...,Pillar of Fire,Colorado,CO,-105.032091,39.847237,-105.037205,39.836653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10977,Wheat Ridge,United States,The institution was for kids 18 years old and ...,Ridge Mental Institution,Colorado,CO,-105.063974,39.769726,-105.077206,39.766098,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10978,Wheat Ridge,United States,Gymnasium - their have been reports of a litt...,Wheat Ridge Middle School,Colorado,CO,-105.103613,39.764055,-105.077206,39.766098,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10979,Woodland Park,United States,Cadets from the Air Force Academy participatin...,Saylor Park Forest,Colorado,CO,-105.022763,39.116658,-105.056930,38.993881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_merge_filtered.to_csv('../Data/v2_final.tsv', sep='\t')
print("'../Data/v2_final.tsv' downloaded")

'../Data/v2_final.tsv' downloaded